header {
    background-color: #004080;
    color: white;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #003366;
    color: white;
    padding: 10px;
}

div a {
    color: white;
    text-decoration: none;
}

div a:hover {
    text-decoration: underline;
}


footer {
    background-color: #004080;
    color: white;
    padding: 10px;
    text-align: center;
}

.homepageMain {
    background-color: #d4d4d4;
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.loginMain {
    display: flex;
    justify-content: center;
    background-color: #d4d4d4;
    padding: 30px;
    margin: 0 150px;
    border-radius: 30px;
    box-shadow: 5px 5px 6px #939393;
}

#username, #password {
    background-color: lightyellow;
    padding: 10px;
      border-radius: 5px;
    border: 3px solid darkgrey;
}

.login {
    background-color: #008000;
    color: white;;
}

.login:hover {
    background-color: #006000;
}

.forgotPassword {
    color: #004080;
    text-decoration: none;
}

.forgotPassword:hover {
    text-decoration: underline;
}

select {
    background-color: lightyellow;
    border-radius: 5px;
    padding: 5px;
}

.courseTiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1200px;
}

.courseTile {
    background-color: #e6f2ff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 25%;
    box-sizing: border-box;
    max-width: 100%;
}

.courseTile img {
    max-width: 100%;
    height: auto;
}

.acceptButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.acceptButton:hover {
    background-color: #265e28;
}

.declineButton {
    background-color: #D32F2F;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.declineButton:hover {
    background-color: #821b1b;
}

.courseTile.placeholder {
    background: none;
    box-shadow: none;
    border: none;
    visibility: hidden;
}